.myPhoto {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background: url("../images/AO.png") gray;
  background-size: cover;
  background-blend-mode: luminosity;
  border: 1px solid gray;
  border-radius: 50%;
}

.skills,
.introduction {
  width: 100%;
  min-height: 50px;
  margin: 30px 0;
  padding: 40px 40px;
}

.skills {
  text-align: center;
  background: var(--dark-main-color);
  color: var(--light-color);
}

.skillsHeader {
  padding: 1rem 0 4rem;
}

.skillset {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  font-size: 3rem;
}

.skillset>* {
  padding: 1rem;
}

.skillset span {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
  opacity: 0;
  font-size: 1rem;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.skillset i:hover+span {
  opacity: 1;
}

.aboutMeIntro {
  text-align: justify;
  padding: 10px 0;
  text-indent: 1.5rem;
}

.mainStats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.stats {
  text-align: center;
  padding: 20px 10px;
}

.statImg>* {
  max-width: 100px;
  max-height: 100px;
}

.number:disabled {
  border: none;
  background: none;
  width: 60px;
  font-size: 2rem;
  color: var(--dark-color);
}

.hobby {
  font-size: .8rem;
}


@media(min-width:568px) {
  .mainStats {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .stats {
    flex-basis: 30%;
  }
}

@media(min-width:1024px) {

  .skills,
  .introduction {
    padding: 40px 10rem;
  }

  .introduction {
    line-height: 2;
  }

  .skillset>* {
    padding: 2rem;
  }

}