@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Montserrat&display=swap&subset=latin-ext');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #0FA0FF;
  --dark-main-color: #005099;
  --light-main-color: lightblue;
  --dark-color: #333;
  --light-color: #F2FAFA;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-color);
  background: var(--light-color);
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h2 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
}

h3 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 3rem;
}

h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2rem;
  height: 5rem;
  background: var(--main-color);
  z-index: -1;
}

h3:first-letter {
  display: block;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0 .2rem 0 1.1rem;
  letter-spacing: 5px;
}

h4 {
  font-family: 'Comfortaa', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button {
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: none;
}