@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap&subset=latin-ext');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background: #F7FFFF;
}

a {
  color: #00A9FF;
}

h1,
h2 {
  font-family: 'Comfortaa', sans-serif;
}