header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 50px 0 0;
}

.logoOut {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--main-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 3.6s 1.5s ease-in-out both;
}

.logo {
  position: relative;
  min-width: 200px;
  width: 200px;
  min-height: 200px;
  height: 200px;
  background: var(--main-color);
  border: none;
  border-radius: 50%;
  animation: enter 2s ease-in-out both;
}

.logoO {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border: 18px solid white;
  border-radius: 50%;
}

.logoA {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.logoA::before,
.logoA::after {
  content: "";
  position: absolute;
  bottom: 0;
  transform-origin: center center;
  width: 40px;
  height: 130px;
  background: white;
  border-radius: 20px;
  border: 10px solid var(--main-color);
}

.logoA:before {
  left: calc(50%);
  transform: rotate(-26deg);
}

.logoA:after {
  left: calc(50% - 40px);
  transform: rotate(26deg);
}

.small {
  position: absolute;
  top: 0;
  left: 50vw;
  right: 50vw;
  transform: translate(-50%, -40%) scale(.2);
  animation: none;
}

.logoName {
  width: 100%;
  text-align: center;
}

.logoNameDark {
  color: var(--main-color);
}

.letter {
  display: inline-block;
  transform: scale(0);
  animation: pop-up .25s forwards;
}

h1 .letter:nth-child(1) {
  animation-delay: 2.05s;
}

h1 .letter:nth-child(2) {
  animation-delay: 2.1s;
}

h1 .letter:nth-child(3) {
  animation-delay: 2.15s;
}

h1 .letter:nth-child(4) {
  animation-delay: 2.2s;
}

h1 .letter:nth-child(5) {
  animation-delay: 2.25s;
}

h1 .letter:nth-child(6) {
  animation-delay: 2.3s;
}

h1 .letter:nth-child(7) {
  animation-delay: 2.35s;
}

h1 .letter:nth-child(8) {
  animation-delay: 2.4s;
}

h1 .letter:nth-child(9) {
  animation-delay: 2.45s;
}

h1 .letter:nth-child(10) {
  animation-delay: 2.5s;
}

h1 .letter:nth-child(11) {
  animation-delay: 2.55s;
}

h1 .letter:nth-child(12) {
  animation-delay: 2.6s;
}


h2 .letter:nth-child(1) {
  animation-delay: 3.05s;
}

h2 .letter:nth-child(2) {
  animation-delay: 3.1s;
}

h2 .letter:nth-child(3) {
  animation-delay: 3.15s;
}

h2 .letter:nth-child(4) {
  animation-delay: 3.2s;
}

h2 .letter:nth-child(5) {
  animation-delay: 3.25s;
}

h2 .letter:nth-child(6) {
  animation-delay: 3.3s;
}

h2 .letter:nth-child(7) {
  animation-delay: 3.35s;
}

h2 .letter:nth-child(8) {
  animation-delay: 3.4s;
}

h2 .letter:nth-child(9) {
  animation-delay: 3.45s;
}

h2 .letter:nth-child(10) {
  animation-delay: 3.5s;
}

h2 .letter:nth-child(11) {
  animation-delay: 3.55s;
}

h2 .letter:nth-child(12) {
  animation-delay: 3.6s;
}

h2 .letter:nth-child(13) {
  animation-delay: 3.65s;
}

h2 .letter:nth-child(14) {
  animation-delay: 3.7s;
}

h2 .letter:nth-child(15) {
  animation-delay: 3.75s;
}

h2 .letter:nth-child(16) {
  animation-delay: 3.8s;
}

h2 .letter:nth-child(17) {
  animation-delay: 3.85s;
}

h2 .letter:nth-child(18) {
  animation-delay: 3.9s;
}


@keyframes enter {
  from {
    opacity: 1;
    transform: scale(0)
  }

  to {
    opacity: 1;
    transform: scale(1.2)
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  20% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }

}

@keyframes pop-up {
  0% {
    transform: scale(0) translateY(-10px);
    opacity: 0;
  }

  80% {
    transform: scale(1.2) translateY(-2px);
    opacity: .8;
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}


@media(min-height: 600px) {
  .logoNameDark {
    padding-bottom: 2rem;
  }
}