.navigation {
  overflow: hidden;
}

.navigation::before {
  content: "";
  position: fixed;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background: var(--main-color);
  border-radius: 50%;
  transition: transform .5s;
  z-index: 1;
}

.naviBurger {
  position: fixed;
  top: -50px;
  right: -50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100px;
  height: 100px;
  padding: 0 0 50px 17px;
  background: var(--main-color);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 5;
  cursor: pointer;
}

.naviBurgerSpan {
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  margin: 2px 0;
  border-radius: 2px;
  background: white;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.naviBurgerSpan:nth-child(1) {
  bottom: 21px;
}

.naviBurgerSpan:nth-child(2),
.naviBurgerSpan:nth-child(3) {
  bottom: 28px;
  transform: translateX(0%);
}

.naviBurgerSpan:nth-child(4) {
  bottom: 35px;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 15% 0;
  transform: translate(100vw, -100vw);
  opacity: 0;
  z-index: 2;
  transition: transform .5s, opacity .5s;
}

nav>* {
  padding: 10px;
  color: white;
}

.naviButton {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  border: none;
  transition: transform .3s;
}

.naviButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: var(--dark-main-color);
  transition: transform .3s;
}

.naviButton.current {
  color: var(--dark-main-color);
  font-weight: bold;
}

.naviButton:hover::before {
  transform: translateX(-50%) scaleX(1);
}

.naviList {
  list-style: none;
}

.naviListButton {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20px 10px 0;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  overflow: hidden;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.naviListButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: var(--dark-main-color);
  transition: transform .3s;
}

.naviListButton:hover::before {
  transform: translateX(-50%) scaleX(.9);
}

.scroll {
  position: fixed;
  bottom: -50px;
  right: -50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--main-color);
  width: 100px;
  height: 100px;
  padding: 23px 23px;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  opacity: 1;
  transform: scale(1);
  transition: opacity .5s, transform .3s;
  z-index: 2;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  transform: scale(0);
}

/* After activate */
.navigation.active::before {
  transform: scale(30);
}

.active .naviBurgerSpan:nth-child(1) {
  opacity: 0;
  transform: rotate(0deg) translateX(-100%);
}

.active .naviBurgerSpan:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) translateX(100%);
}


.active .naviBurgerSpan:nth-child(2) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.active .naviBurgerSpan:nth-child(3) {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.active nav {
  transform: translateY(0vh);
  opacity: 1;
}

.active .scroll {
  z-index: 0;
}

@media(max-width:1023px) and (orientation:landscape) {
  nav {
    padding: 0;
  }

  .small {
    top: 5px;
    left: 25px;
  }

  .languageSelection {
    position: absolute;
    top: 0;
    left: 10vw;
  }

  .naviListButton {
    padding: 15px;
  }

}

@media(min-width:1024px) {

  .navigation::before {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    max-height: 100px;
    background: var(--main-color);
    border-radius: 0 0 0 50px;
    transform: translate(100%, -50%);
    transition: transform .5s;
    z-index: 1;
  }

  .naviHeader {
    display: none;
  }

  .small {
    top: 5px;
    left: 50px;
  }

  .languageSelection {
    position: absolute;
    top: 0;
    left: 150px;
  }

  .naviList {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 1024px;
    padding: 0;
  }

  .naviListButton {
    min-width: 150px;
    padding: 10px 10px 5px;
    transition: .3s;
  }

  /* After activate */

  .navigation.active::before {
    transform: translate(0, -50%);
  }

  .active nav {
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

}