.navigation::before {
  content: "";
  position: fixed;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background: #00A9FF;
  border-radius: 50%;
  opacity: 1;
  transition: transform .5s;
  z-index: 1;
}

.navigation__burger {
  position: fixed;
  top: -50px;
  right: -50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100px;
  height: 100px;
  padding: 20px 20px;
  background: #00A9FF;
  border-radius: 50%;
  z-index: 5;
}

.navigation__burger__span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 2px 0;
  background: white;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 15% 0;
  transform: translate(100vw, -100vw);
  visibility: hidden;
  z-index: 2;
  transition: transform .5s;
}

nav>* {
  padding: 10px;
  color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  padding: 40px 0 0;
  text-align: center;
  font-size: 1.5em;
}


/* After activate */
.navigation.active::before {
  transform: scale(30);
}

.active nav {
  transform: translateY(0vh);
  visibility: visible;
}

.active .navigation__button {
  display: inline-block;
  padding: 10px;
  background: transparent;
  color: #0087DD;
  font-size: 1.2rem;
  border: none;
  transition: transform .3s;
}

.navigation__button:hover {
  transform: scale(1.3);
}

.navigation__button--active {
  background: #0087DD;
  color: white;
}