.projectArea {
  position: relative;
  background: var(--dark-main-color);
  margin: 30px 0;
  padding: 20px;
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  overflow: hidden;
}

.projectArea::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--light-color);
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  z-index: 0;
  border-bottom: 1px solid var(--main-color);
}

.projectId {
  position: absolute;
  top: 20px;
  left: 60px;
  -webkit-transition: font-size .3s;
  -moz-transition: font-size .3s;
  -o-transition: font-size .3s;
  transition: font-size .3s;

}

.projectId::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: -60px;
  width: 50px;
  height: 1px;
  background: var(--dark-color);
  transition: transform .3s;
}

.projectTitle {
  position: absolute;
  top: 20px;
  left: 100px;
  margin-bottom: 1rem;
  transition: .3s;
}

.projectDescription {
  position: absolute;
  top: 3rem;
  left: 100px;
  margin-bottom: 1rem;
  padding: 20px 20px 150px 0;
  font-size: .9rem;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.projectActions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 60px;
}

.projectAnchor {
  position: relative;
  display: inline-block;
  width: 70px;
  line-height: 2rem;
  border-bottom: 1px solid var(--dark-color);
  color: var(--dark-color);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .6s .3s;
  -moz-transition: .6s .3s;
  -o-transition: .6s .3s;
  transition: .6s .3s;
}

.projectAnchor::before {
  content: "v";
  display: block;
  position: absolute;
  bottom: -17px;
  right: 0;
  -webkit-transform: rotate(-90deg) translateY(0);
  -moz-transform: rotate(-90deg) translateY(0);
  -o-transform: rotate(-90deg) translateY(0);
  transform: rotate(-90deg) translateY(0);
  -webkit-transition: transform .3s, font-color .6s .3s;
  -moz-transition: transform .3s, font-color .6s .3s;
  -o-transition: transform .3s, font-color .6s .3s;
  transition: transform .3s, font-color .6s .3s;
}

.projectAnchor::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 70px;
  height: 1px;
  background: var(--dark-color);
  -webkit-transition: transform .3s, background-color .6s .3s;
  -moz-transition: transform .3s, background-color .6s .3s;
  -o-transition: transform .3s, background-color .6s .3s;
  transition: transform .3s, background-color .6s .3s;
}

.projectAnchor:hover::before {
  -webkit-transform: rotate(-90deg) translateY(30px);
  -moz-transform: rotate(-90deg) translateY(30px);
  -o-transform: rotate(-90deg) translateY(30px);
  transform: rotate(-90deg) translateY(30px);
}

.projectAnchor:hover::after {
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -o-transform: translateX(40%);
  transform: translateX(40%);
}

.projectArea:hover::before {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.projectArea:hover .projectAnchor,
.projectArea:hover .projectTitle,
.projectArea:hover .projectDescription {
  color: white;
}

.projectArea:hover .projectAnchor {
  border-bottom-color: white;
}

.projectArea:hover .projectId::before,
.projectArea:hover .projectAnchor::after {
  background: white;
}

.projectArea:hover .projectId::before {
  -webkit-transform: translateY(calc(3rem - 10px));
  -moz-transform: translateY(calc(3rem - 10px));
  -o-transform: translateY(calc(3rem - 10px));
  transform: translateY(calc(3rem - 10px));
}

.projectArea:hover .projectId {
  font-size: 10rem;
  color: rgba(255, 255, 255, .25);
}

@media(min-width:1024px) {

  .projectArea::before {
    border-bottom: none;
  }

  .projectTitle {
    left: 10rem;
  }

  .projectDescription {
    left: 10rem;
    padding: 20px 10rem 150px 0;
  }
}